{% extends "layout.html" %} {% block body %}
<div class="row">
    <div class="court-container">
        <img src="/static/img/Duke_Blue_Devils_Court.jpg" id="court">
        <table class="grid" id="grid"></table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <select id="athleteName" class="form-control">
            <option value="0">Jayson Tatum</option>
            <option value="1">Harry Giles</option>
            <option value="2">Chase Jeter</option>
            <option value="3">Grayson Allen</option>
            <option value="5">Luke Kennard</option>
            <option value="12">Javin DeLaurier</option>
            <option value="13">Matt Jones</option>
            <option value="15">Frank Jackson</option>
            <option value="20">Marques Bolden</option>
            <option value="21">Amile Jefferson</option>
            <option value="30">Antonio Vrankovic</option>
            <option value="34">Sean Obi</option>
            <option value="41">Jack White</option>
            <option value="45">Nick Pagliuca</option>
            <option value="50">Justin Robinson</option>
            <option value="53">Brennan Besser</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="game" class="form-control">
            <option value="North_Carolina-2_9">North Carolina 2/9</option>
            <option value="Clemson-2_11">Clemson 2/11</option>
            <option value="Wake_Forest-2_9">Wake Forest 2/18</option>
            <option value="Florida_State-2_28">Florida State 2/28</option>
        </select>

        <!--<div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
            <input id="time" type="text" class="form-control" value="13:14">
            <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>-->
    </div>
    <div class="col-md-4">
        <button class="btn btn-default" type="submit" id="submit">Submit</button>
    </div>
</div>
{% endblock %}
