{% extends "layout.html" %} {% block body %}
<div class="row">
    <div class="col-md-4">
        <select id="athleteName" class="form-control">
            <option value="athlete1">athlete name 1</option>
            <option value="athlete2">2</option>
            <option value="athlete3">3</option>
            <option value="athlete4">4</option>
            <option value="athlete5">5</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="game" class="form-control">
            <option value="game1">Duke vs </option>
            <option value="game2">Duke vs </option>
            <option value="game3">Duke vs </option>
            <option value="game4">Duke vs </option>
            <option value="game5">Duke vs </option>
        </select>

        <!--<div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
            <input id="time" type="text" class="form-control" value="13:14">
            <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>-->
    </div>
    <div class="col-md-4">
        <button class="btn btn-default" type="submit" id="submit">Submit</button>
    </div>
</div>
{% endblock %}
